

html,
body,
#intro {

	height: 100%
	
	}



#intro {
	background: url(photo.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


	}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

h1 {

	font-family: calibri;
	font-size: 50px;
	color: #803E15;
	 text-shadow: 1px 1px;
	
	}
.btn-primary {

	background-color: #D4936A;
	border-color: #D4936A;
	
		}

.btn-primary: hover {

	background-color: #D4936A;
	border-color: #D4936A;
	border-width: 5px;
	cursor: pointer;

	
		}


